body{
    
    background-color: #88A096 ;
    border: 10px double white;
    padding: 30px;
    font-size: 20px
}

h1{
    width: ;
    padding: 20px;
    margin: 5px 300px;
    text-decoration: underline;
         
    
}

h1:hover{
    text-transform:lowercase;

}
h2{
    text-decoration: underline;
        }
 h2:hover{
     text-transform: uppercase;
 }       