body{
    
    background-color: #88A096 ;
    border: 10px double white;
    padding: 30px;
    font-size: 20px;
    max-width: 1160px;
    min-width:20px ;
}

h1{
    
    padding: 2px;
    margin: 50px auto;
    text-decoration: underline;
    min-width: 45px : 
    max-width: 150px;
         
}

h1:hover{
    text-transform: capitalize;
    color: white;

}
h2{
    text-decoration: underline;
        }
 h2:hover{
     text-transform: capitalize;
     color: white;
 }       